{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AutoHub</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <nav class="navbar">
        <ul>
            <a href="" class="btn"><img src="{% static 'logo.png' %}" alt="AutoHub Logo"></a>
            {% if user.is_authenticated %}
                <a href="profile/{{ user.username }}"><img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture"></a>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="create/" class="btn">add a post</a></li>
            	<li><a href = "{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>